@import '../colorVars.scss';

.checkbox-list {
    display: flex;
    flex-wrap: wrap;
    .checkbox {
        flex: 0 0 33%;
        margin-bottom: .625rem;
    }
    .custom-input-container {
        display: flex;
        align-items: center;
        flex: 0 0 33%;
        margin-bottom: .625rem;
        .custom-input {
            margin-right: .625rem;
        }
        .add-button {
            border-radius: 50%;
            width: 35px;
            height: 35px;
            color: $blue;
            font-size: 1.75rem;
            flex: 0 0 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: .3125rem;
        }
    }

    .no-value {
        .close-icon,
        .add-button {
            visibility: hidden;
        }
    }
}